:root {
  --dark: #141B41;
  --white: #ffffff;
  --medium: #6F9CEB;
  --light: #98B9F2;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: fantasy;
  font-weight: lighter;
}

body {
  background-color: var(--light);
}

a {
  text-decoration: none;
}

h2 {
  font-size: 50px;
  margin: 50px;
  text-align: center;
  color: var(--white);
}

.page-body {
  font-size: 25px;
  color: var(--dark);
}

.icon {
  height: 30px;
  width: 30px;
  padding: 30px;
  opacity: 0.6;
}

.icon:hover {
  opacity: 1;
}

.photo {
  height: 300px;
  width: 300px;
}

/* h e a d e r  s t y l e */
.header-div {
  background: linear-gradient(
    to bottom right,
    var(--medium),
    var(--dark)
  );
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.header-h1 {
  float: left;
  color: var(--dark)
}

.nav-link {
  color: var(--medium);
}

.nav-link-active {
  color: var(--white);
}

.nav-li {
  display: inline;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
  list-style: none;
}

/* f o o t e r  s t y l e */
.footer-div {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

/* a b o u t  s t y l e */
.about-body {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

/* p o r t f o l i o  s t y l e */
.all-projects {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.single-project {
  text-align: center;
  margin: 50px;
}

/* c o n t a c t  s t y l e */
.contact-form {
  text-align: center;
}

.contact-el {
  margin: 10px;
}

input {
  width: 300px;
  height: 30px;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
}

.submit-contact {
  width: 150px;
  font-size: 30px;
  background-color: var(--dark);
  color: var(--light);
}

.error-text {
  font-size: 20px;
  color: firebrick;
  font-family: Arial, Helvetica, sans-serif;
}

.warning-icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.my-info-h3 {
  font-size: 35px;
  color: var(--white);
  text-align: center;
  margin-top: 100px;
}

.my-info-p {
  font-size: 25px;
  color: var(--white);
  text-align: center;
  padding: 10px;
}

/* r e s u m e  s t y l e */
.download-icon {
  height: 45px;
  width: 45px;
  opacity: 0.6;
  margin-left: 30px;
}

.download-icon:hover {
  opacity: 1;
}

.prof-header {
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  color: var(--medium);
  border-top: 1px solid var(--medium);
}

.skill-list {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.skill-header {
  font-size: 45px;
}