:root {
  --yellow: #FFD166;
  --green: #06D6A0;
  --light-blue: #118AB2;
  --dark-blue: #073B4C;
  --plum: #736372;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: fantasy;
  font-weight: lighter;
}

body {
  background-color: var(--dark-blue);
  /* color: var(--green); */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 50px;
  margin: 50px;
  text-align: center;
  color: var(--light-blue);
}

.page-body {
  font-size: 25px;
  margin: 30px;
  color: var(--yellow);
}

.header-div {
  background: linear-gradient(
    to bottom right,
    var(--light-blue),
    var(--yellow)
  );
  height: 100%;
  /* width: 100%; */
  text-align: center;
  padding: 20px;
}

.header-h1 {
  float: left;
  color: var(--yellow)
}

.nav-link {
  color: var(--light-blue);
}

.nav-link-active {
  color: var(--dark-blue);
  background-color: var(--yellow);
}

.nav-li {
  display: inline;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
}

.footer-div {
  position: relative;
  text-align: center;
  border-top: 1px solid var(--light-blue);
  margin-top: 20px;
}

.icon {
  height: 30px;
  width: 30px;
  padding: 30px;
  opacity: 0.6;
}

.icon:hover {
  opacity: 1;
}

.photo {
  height: 300px;
  width: 300px;
}

.about-body {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.all-projects {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.single-project {
  text-align: center;
}